@page "/"

<div class="row">
    <div>
        <a class="btn" href="/SlideShow">SlideShow</a>
    </div>
    <div>
        <a class="btn" href="/RemoteControl">Remote Control</a>
    </div>
</div>

@code
{
}
